@model AddProductViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}

<h1>Edit product: @Model.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>
            Product Name:
            <input asp-for="Name" />
        </label>
    </div>
    <div>
        <label>
            Product Price:
            <input asp-for="Price" />
        </label>
    </div>
    <div>
        <label>
            Product Discount:
            <input asp-for="Discount" />
        </label>
    </div>

    <div>
        <label>
            Product description
            <textarea asp-for="Description">

        </textarea>
        </label>
    </div>

    <div>
        <label>
            Product Vendor:
            <select asp-for="VendorId">
                <option>--Select--</option>
                @foreach (VendorViewModel item in ViewBag.Vendors)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>
    </div>

    <div>
        @foreach (CategoryViewModel item in ViewBag.Categories)
        {
            <div>
                <label>
                  @*  @if(Model.CategoryIds.Contains(item.Id)){
 <input type="checkbox" value="@item.Id" name="CategoryIds" checked="checked" />
                     }
                    else
                    {
                        <input type="checkbox" value="@item.Id" name="CategoryIds" />
                    }*@
                <input type="checkbox" value="@item.Id" name="CategoryIds" checked="@(Model.CategoryIds.Contains(item.Id)?"checked":null)" />
                    @item.Name
                </label>
            </div>


        }
    </div>
    <input type="submit" value="Save" />
</form>