@using OnlineShop.Core.ViewModels
@model List<ProductAdminListViewModel>
@{
   
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}

<h1>Product List</h1>
<a asp-action="Add">Add new product</a>

<div>
    <form method="get">
        <div>
            <select name="pageSize">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <button type="submit">Filter</button>
    </form>
</div>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Categories</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@for(int pageindex = 1;pageindex <= ViewBag.PageCount; pageindex++)
{
    if (pageindex == ViewBag.PageIndex)
    {
        <span class="indexPage">@pageindex</span>
    }else {
    <a   asp-route-pageIndex="@pageindex">@pageindex</a>
    }
}